<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Territories</title>
</head>

<body>
  <div class="cabezaldiv">
    <h1 class="cabezal">Territories de NorthwindDB</h1>
  </div>
  <div class="cuerpo">
    <div class="agregmodif">
      <app-agregarmodificar></app-agregarmodificar>
    </div>
    <div class="lista">
      <app-listaydelete></app-listaydelete>
    </div>
  </div>
</body>

</html>