table {
    width: 100%;
}
.table-container {
    max-height: 350px;
    overflow: auto;
}
.tablehead{
    width: 100%;
}
.columna1{
    width: 35%;
    text-align: center;
}
.columna2{
    width: 30%;
    text-align: center;
}
.columna3{
    width: 22%;
    text-align: center;
}
.columna4{
    width: 13%;
    text-align: center;
}
