@model TP5_Chotsourian.MVC.Models.TerritoriesView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <br/>
    <div>
        <h3>Ingrese los datos del territorio que desee crear o modificar.</h3>
        @using (Html.BeginForm("InsertUpdate", "Territories", FormMethod.Post))
        {
            <label>TerritoryID: </label>
            <br />
            @Html.TextBoxFor(t => t.TerritoryID)
            <br />
            <label>TerritoryDescription: </label>
            <br />
            @Html.TextBoxFor(t => t.TerritoryDescription)
            <br />
            <label>RegionID: </label>
            <br />
            @Html.TextBoxFor(t => t.RegionID)
            <br />
            <input type="submit" value="Guardar" />
        }
    </div>

</body>
</html>
