@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <br />
        <h3>Error</h3>
        <br />
        <p>Hubo un error, verifique los datos. El TerritoryID debe ser un string de hasta 20 caracteres no repetido en la lista.
        El TerritoryDescription debe ser un string de hasta 50 caracteres. La RegionID debe ser el ID de una Region existente.</p>
        <br />
        <li>@Html.ActionLink("Volver a listado de territorios", "Index", "Territories")</li>
    </div>
</body>
</html>
